# Entorno virtual
venv/

# Cache de Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos estáticos recolectados (Render los regenera)
staticfiles/

# Variables de entorno locales
.env

# Archivos del editor / sistema
.vscode/
.DS_Store
