{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card shadow-sm">
      <div class="card-header bg-success text-white">
        <h4 class="mb-0">Employee Form (CBV)</h4>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="mt-3">
            <button class="btn btn-success">Save</button>
            <a href="{% url 'employee_list_cbv' %}" class="btn btn-secondary">Back</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
